# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config

# Rewrite engine setup
RewriteEngine On
RewriteBase /svo

# Default response
# ---------------------------
# Rewrite rule to redirect to current version
RewriteRule ^svl/abstraction/$ svl/abstraction/1.0.0/ [R=303,L]
RewriteRule ^svl/assumption/$ svl/assumption/1.0.0/ [R=303,L]
RewriteRule ^svl/attribute/$ svl/attribute/1.0.0/ [R=303,L]
RewriteRule ^svl/body/$ svl/body/1.0.0/ [R=303,L]
RewriteRule ^svl/context/$ svl/context/1.0.0/ [R=303,L]
RewriteRule ^svl/form/$ svl/form/1.0.0/ [R=303,L]
RewriteRule ^svl/matter/$ svl/matter/1.0.0/ [R=303,L]
RewriteRule ^svl/operator/$ svl/operator/1.0.0/ [R=303,L]
RewriteRule ^svl/part/$ svl/part/1.0.0/ [R=303,L]
RewriteRule ^svl/participant/$ svl/participant/1.0.0/ [R=303,L]
RewriteRule ^svl/phenomenon/$ svl/phenomenon/1.0.0/ [R=303,L]
RewriteRule ^svl/process/$ svl/process/1.0.0/ [R=303,L]
RewriteRule ^svl/property/$ svl/property/1.0.0/ [R=303,L]
RewriteRule ^svl/reference/$ svl/reference/1.0.0/ [R=303,L]
RewriteRule ^svl/relationship/$ svl/relationship/1.0.0/ [R=303,L]
RewriteRule ^svl/role/$ svl/role/1.0.0/ [R=303,L]
RewriteRule ^svl/rolephenomenon/$ svl/rolephenomenon/1.0.0/ [R=303,L]
RewriteRule ^svl/trajectory/$ svl/trajectory/1.0.0/ [R=303,L]
RewriteRule ^svl/trajectorydirection/$ svl/trajectorydirection/1.0.0/ [R=303,L]
RewriteRule ^svl/variable/$ svl/variable/1.0.0/ [R=303,L]
RewriteRule ^svu/$ svu/1.0.0/ [R=303,L]
RewriteRule ^svl/$ svl/1.0.0/ [R=303,L]
RewriteRule ^$ 1.0.0/ [R=303,L]
