# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .owl
AddType text/turtle .ttl
AddType application/rdf+xml .rdf

# Rewrite engine setup
RewriteEngine On
RewriteBase /svo/svu/1.0.0

# Rewrite rule to serve TTL content from the vocabulary URI if requested
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^$ svo-upper.ttl [R=303,L]

# Rewrite rule to serve RDF/XML content if requested
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^$ svo-upper.rdf [R=303,L]

# Default response
# ---------------------------
# Rewrite rule to serve html content from the vocabulary URI by default
